---
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import Galeria from "../components/Galeria.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Nosotros from "../components/Nosotros.astro";
import Proyectos from "../components/Proyectos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Fundación Jachepa | La fuerza de una nueva generación"
  description="ONG dedicada al desarrollo social, educativo, ambiental y humanitario de comunidades vulnerables."
>
  <Navbar />
  <main>
    <Hero />
    <Nosotros />
    <Proyectos />
    <Galeria />
    <Contacto />
  </main>
  <Footer />
</Layout>
